<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Your Spam Machine</title>
  </head>
  <body>
    <h1>Ready to Spam?</h1>
<form name="sms"method="POST" action="/">
  <input type="text" name="phone_number" placeholder="PHONE NUMBER"><br>
  <input type="text" name="message" placeholder="MESSAGE">
  <br>
  <input type="text" name="times" placeholder="# of TIMES">
  <br>
  <input type="submit" value="submit">
    </form>
  </body>
=======

<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="icon" href="smiley_face.ico" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Spam Machine</title>
</head>

<body>
  <div class="container">
    <div class="row" id="titlebar">
      <div class="col-xs-12">
        <div id="pic1holder">
          <a href="index.html"><img class="pic1" src="smiley_face.png"/></a>
        </div>
        <div id="title">
          Your Spam Machine
        </div>
      </div>
    </div>
    <div class="row" id="content">
      <div class="container">
        <h1>Welcome to <i>Your Spam Machine!</i></h1>
        <form name="sms"method="POST" action="/">
          <input class="input_box" type="text" name="phone_number" placeholder="PHONE NUMBER"><br>
          <input class="input_box" type="text" name="message" placeholder="MESSAGE">
          <br>
          <input class="input_box" type="text" name="times" placeholder="# of TIMES">
          <br>
          <button type="submit" class="btn btn-default" id="submit">SUBMIT</button>
        </form> 
      </div>
    </div>
  </div>
</body>

>>>>>>> 12f188ad96e060ad1bebd862747e1e564419f36a
</html>
