<!DOCTYPE html>
<html>
  <head>
    <title>SPAM</title>
  </head>
  <body>
    <h1>PROGRAMMING IS CHILL</h1>
<form name="formthing">
  Put in the email you want hacked<br>
  <input type="text" name="rad1" method="POST" action="/">
  <input type="submit" value="submit">
    </form>

    
    
  </body>
</html>
