<!DOCTYPE html>
<html>
  <head>
    <title>Your Spam Machine</title>
  </head>
  <body>
    <h1>Ready to Spam?</h1>
<form name="sms"method="POST" action="/">
  Put in the email you want spammed<br>
  <input type="text" name="rad1">
    Put in the text you want in the email<br>
  <input type="text" name="rad1">
    Put in the number of emails you want sent<br>
  <input type="text" name="rad1">
  <input type="submit" value="submit">
    </form>
  </body>
</html>
